html,
body,
#map {
     height: 100%;
     padding: 0;
     margin: 0;
    }

.info { 
     position: absolute;  
     z-index: 1;
     top: 0px;
     right: 0px;
     margin-right: 20px;
     margin-top: 20px;
}

#info1, #info2 {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color: lightgrey;
     box-shadow: 10px 10px 15px silver;
     position: relative;
     padding: 20px;
}

#info2 {
     background-color: lightgrey;
     box-shadow: 10px 10px 15px silver;
     margin-top: 50px;
     position: relative;
}

.weatherInfo {
          border: 1px solid black;
          padding: 5px;
     }
    
